.git
.gitignore
.github

__pycache__/
*.pyc
*.pyo
.pytest_cache/
.mypy_cache/

venv/
.venv/
env/

notebook/
catboost_info/
logs/
mlproject.egg-info/

.env
.env.*
!.env.example

*.md
image.png
image-1.png
image-2.png

.claude/
.ebextensions/
docker-compose.yml
